body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    color: #222;
    text-align: center;
}

/* HEADER */
header {
    background: #000;
    color: #fff;
    padding: 40px 20px;
}

.logo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

/* TITLES */
h1 {
    margin: 10px 0;
    font-size: 32px;
}

h2 {
    margin-top: 40px;
    font-size: 28px;
    color: #000;
}

/* SERVICES */
.services {
    padding: 40px 20px;
}

.service-box {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left;
}

.service-box h3 {
    margin-top: 0;
    color: #000;
}

footer {
    background: #000;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
  }
